.contactLinks {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.contactLinks p {
	background-color: inherit;
	padding: 12px 16px;
	border-radius: 8px;
	border: 2px solid rgba(142, 202, 230, 0.4);
	cursor: pointer;
	font-size: 18px;
	min-width: 220px;
}
@media screen and (max-width: 640px) {
	.contactLinks p {
		width: max-content;
	}
}
.contactLinks p:hover,
.contactLinks p:focus {
	background-color: rgba(142, 202, 230, 0.2);
	border: 2px solid var(--primary);
}

.socialLinks a {
	font-size: 32px;
	padding: 15px;
	background-color: transparent;
	border-radius: 50%;
}
.socialLinks a:hover,
.socialLinks a:focus {
	background-color: rgba(142, 202, 230, 0.5);
}
