@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--primary: rgb(142, 202, 230);
	--secondary: rgb(206, 206, 206);
	--light: rgb(250, 249, 246);
}
html {
	scroll-behavior: smooth;
	scroll-padding: 90px;
}
.contentContainer {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}
